PORT=3000

DISCORD_CLIENT_ID=TON_CLIENT_ID_DISCORD
DISCORD_CLIENT_SECRET=TON_CLIENT_SECRET_DISCORD

DISCORD_REDIRECT_URI=http://localhost:3000/auth/discord/callback

SESSION_SECRET=CHANGE_MOI_AVEC_UNE_LONGUE_CLE_ALEATOIRE
